include includes/layout
body
  div.container

    include includes/menu

    div.row
      div.col-md-8.col-md-offset-2
        - for(var i = 0; i < entries.length; i++) {
          div.panel.panel-default
            div.panel-heading
              h3.panel-title 
                a(href=config.baseurl + '/blog/post/' + encodeURIComponent(entries[i].title))
                  | !{entries[i].title}

              - var creationDate = new Date(entries[i].creationDate);
              - var updateDate = new Date(entries[i].updateDate);
              span.text-right !{creationDate.getDate() + '/' + creationDate.getMonth() + '/' + creationDate.getFullYear()}

            div.panel-body
              | !{entries[i].body}

            div.panel-footer
              span.text-right 
                - for (var j = 0; j < entries[i].tags.length; j++)
                  a(href='#') !{entries[i].tags[j].name + ' '}
                a(href='#') !{entries[i].category} 

        - }
    //- div.row
    //-   div.col-md-8.col-md-offset-2
    //-     ul.pagination
    //-       li.disabled
    //-         a(href='#') «
    //-       li.active
    //-         a(href='#') 1
    //-       li
    //-         a(href='#') 2
    //-       li
    //-         a(href='#') 3
    //-       li
    //-         a(href='#') 4
    //-       li
    //-         a(href='#') 5
    //-       li
    //-         a(href='#') »
    //-       span.sr-only (current)
    div.row
      div.col-md-12.text-center Copyright 2014
include includes/scripts
  
    
