extends includes/layout
block append content
  
  .container

    //- include includes/menu

    .row
      .col-md-8.col-md-offset-1
        - for(var i = 0; i < entries.length; i++) {
          .row
            .col-md-12
              .panel.panel-default
                .panel-heading
                  h3.panel-title 
                    a(href=config.baseurl + '/blog/post/' + encodeURIComponent(entries[i].title))
                      | !{entries[i].title}

                  - var creationDate = new Date(entries[i].creationDate);
                  - var updateDate = new Date(entries[i].updateDate);
                  - var formatedDate = moment(creationDate);
                  span.text-right !{formatedDate.format("DD/MM/YYYY")}

                .panel-body
                  | !{entries[i].body}

                .panel-footer
                  span.text-right 
                    - for (var j = 0; j < entries[i].tags.length; j++)
                      a(href='#') !{entries[i].tags[j].name + ' '}
                    a(href='#') !{entries[i].category} 
        - }

      .col-md-2(id="nav-scrollspy")
        .affix-top(data-spy='affix', data-offset-top='0')
          .panel.panel-default
            .panel-heading
              h3.panel-title Categories
            .panel-body
              - for(var i in categories) {
                
                  a(href='#section-3') !{categories[i].name}
              - }
          .panel.panel-default
            .panel-heading
              h3.panel-title Tags
            .panel-body
              - for(var key in tags) {
                  span(class="badge")
                    a(href=config.baseurl + '/blog/tag/' + key) !{key + ' (' + tags[key] + ')'}
                  
              - }
    .row
      .col-md-12.text-center Copyright 2014
      .col-md-12.text-center Created with Fluid
  
  
    
