extends includes/layout
block append content
  div.container

    //- include includes/menu


    div.row
      div.col-md-8.col-md-offset-2
        - for(var i = 0; i < entry.length; i++) {
          div.panel.panel-default
            div.panel-heading
              h3.panel-title
                | !{entry[i].title}

              - var creationDate = new Date(entry[i].creationDate);
              - var updateDate = new Date(entry[i].updateDate);
              span.text-right !{creationDate.getDate() + '/' + creationDate.getMonth() + '/' + creationDate.getFullYear()}

            div.panel-body
              | !{entry[i].body}

            div.panel-footer
              span.text-right 
                - for (var j = 0; j < entry[i].tags.length; j++)
                  a(href='#') !{entry[i].tags[j].name + ' '}
                a(href='#') !{entry[i].category} 

        - }
    //- div.row
    //-   div.col-md-8.col-md-offset-2
    //-     ul.pagination
    //-       li.disabled
    //-         a(href='#') «
    //-       li.active
    //-         a(href='#') 1
    //-       li
    //-         a(href='#') 2
    //-       li
    //-         a(href='#') 3
    //-       li
    //-         a(href='#') 4
    //-       li
    //-         a(href='#') 5
    //-       li
    //-         a(href='#') »
    //-       span.sr-only (current)
    div.row
      div.col-md-12.text-center Copyright 2014

block append includes/scripts